<h1>  Show Case</h1>
<h2>  Welcome to our Shop!</h2>
<blockquote class="imgur-embed-pub" lang="en" data-id="AaRi4kV"><a href="//imgur.com/AaRi4kV"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<% if current_user %>
<h3>Hi <%= current_user.name%>!</h3>
<%end%>
<h2>  Here's what we have today!</h2>
<%@items.each_slice(3) do |three_items|%>
<div class= "row">
  <% three_items.each do |item|%>
  
    <div class= "col-md-4">
      <div class= "well">
        <h3><a href="/items/<%= item.id%>"><%=item.brand%></a></h3>
        <h4><%=item.brand%><h4>
        <h4><%=item.model%><h4>
        <h4><%=item.price%><h4>
        <h4><%=item.description%><h4>
      </div>
    </div>
  <%end%>
</div>
<%end%>