<h1>Item Information</h1>
<h4><%=@item.brand%><h4>
<h4>Categories</h4>
<ul>
  <%@item.categories.each do |category|%>
    <li><%=category.name%></li>
    <%end%>
</ul>
<h4><%=@item.model%><h4>
<h4><%=@item.supplier.name%></h4>
<%@item.images.each do |image|%>
<img src="<%= image.url %>">
<% end %>
<h4><%if @item.discounted?%></h4>
<p>Discount Item!</p>
<%else%>
<p>special Everyday value!</p>
<%end%>
<h4><%=@item.price%><h4>
<h4>Tax: <%= number_to_currency(@item.tax)%></h4>
<h4>You pay the low price of: <%= number_to_currency(@item.total)%>!</h4>
<h4><%=@item.description%><h4>
<%= form_tag "/items/#{@item.id}", method: :delete do %>
<input type="submit" value="Delete Item">
<% end %>
<!--This is the checkout page form-->
<%= form_tag "/carted_products", method: :post do%>
<div>
Quantity: <input type="integer" name="form_quantity">
</div>
<div>
  Item_Id: please do not change this number 

  <input type="text" name="form_item_id" value="<%= @item.id %>">
</div>

<input type="submit" value="Add to Cart Now!">
<%end%>

<a href="/">Back to all items</a>